/* jqueryslidemenu.css */
body{
	font-weight: bold;
}
h3{
	font-weight: 800 !important;
}
table tr td a {
	color: #034ea1;
}
.close {
	opacity: 1 !important;
}
.icnotp {
	color: #552984;
	border-radius: 100%;
	display: inline-block !important;
}
.tablesorter-bootstrap thead th, .tablesorter-bootstrap thead td {
	background: #b7091e !important;
}
.paid {
	background: #2e753b;
	color: #fff;
	display: inline-block !important;
}

.unpaid {
	background: #b7091e;
	color: #fff;
	display: inline-block !important;
}

.partialpaid {
	background: #ff8603;
	color: #fff;
	display: inline-block !important;
}

.overpaid {
	background: #034ea1;
	color: #fff;
	display: inline-block !important;
}
.multipleValue span {
	display: block;
}
.Headtext {
	font-size: 14px;
	display: inline-flex;
	align-items: center;
	white-space: nowrap;
}
.HeadControl {
	display: inline-flex;
}
.email-wrapper .maildata table tr td {
	padding: 10px 10px;
	background: #fff;
}
.page-logo img{
	width: 200px;
}
.dataTable tr td {
	padding: 0px !important;
}
.email-wrapper .maildata .maindatawrapper {
	position: relative;
	padding: 9px 18px 9px 70px;
}

.email-wrapper .maildata .maindatawrapper:hover { 
	cursor:pointer;
	background-color:#f2f2f2;
} 

.activenotification {
	border-left: 5px solid #1e8bbf;
}
 
.email-wrapper .maildata .maindatawrapper:hover {
	cursor: pointer;
	background-color: #f2f2f2;
}
.email-wrapper .maildata .maindatawrapper .datetimewrap {
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);
	text-align: right;
}
.activenoti{
	background: #f2f2f2 !important;
}
.email-wrapper .maildata .maindatawrapper .datetimewrap span {
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: #1e8bbf;
}
.email-wrapper .maildata .maindatawrapper .datetimewrap .time {
	font-size: 10px;
}
.email-wrapper .maildata .maindatawrapper .mailName {
	font-size: 18px;
}
.email-wrapper .maildata .maindatawrapper .mailSubject {
	font-size: 14px;
}

.Subjectmailbody {
	background: #fff;
	margin-top: -35px;
	border: 1px solid #ddd;
	font-size: 22px;
	margin-left: -15px;
	margin-right: 5px
}

	.Subjectmailbody label {
		font-size: 15px;
		font-weight: bold;
		margin-top: -34px;
		height: 47px;
		margin-left: -15px;
		padding-left: 30px;
		padding-top: 21px
	}

.email-wrapper .maildata .maindatawrapper .mailBody {
	font-size: 12px;
}
.email-wrapper .mailbody {
	padding: 10px 10px;
	margin-right: 5px;
	background: #fff;
	height: 65vh;
	border: 1px solid #ddd;
}
.email-wrapper .mailbody .mailbodysubject {
	font-size: 22px;
	font-weight: bold;
}
.email-wrapper .mailbody .fromEmail {
	margin-top: 5px;
	font-size: 16px;
}
.circlenameavatar {
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	display: inline-block;
	background: green;
	color: #fff;
	font-weight: bold;
	border-radius: 100%;
	margin-right: 6px;
	margin-left: -10px
}
.email-wrapper .mailbody .tocc {
	margin-top: 20px;
	font-size: 12px;
}
.email-wrapper .mailbody .tocc span {
	display: block;
}
.email-wrapper .mailbody .mainmailbody {
	margin-top: 20px;
}
.email-wrapper .mailbody .regards {
	margin-top: 10px;
}
.email-wrapper .mailbody .mailsignature {
	margin-top: 10px;
}
.email-wrapper .mailbody .mailsignature .departmentname {
	color: #b7091e;
	font-weight: bold;
}
.email-wrapper .mailbody .mailsignature .depemails {
	margin-bottom: 4px;
}
.email-wrapper .mailbody .mailsignature .depemails a {
	color: blue;
	font-size: 12px;
	font-weight: bold;
}
.email-wrapper .mailbody .mailsignature .corpaddress span {
	color: #b7091e;
	font-weight: bold;
}
.email-wrapper .mailbody .mailsignature .socialicons img {
	width: 30px;
}
.email-wrapper .mailbody .disclaimer {
	font-size: 10px;
	margin-top: 15px;
}
.email-wrapper .mailbody .disclaimer .gogreen {
	font-size: 10px;
	margin-top: 15px;
	font-weight: bold;
	color: green;
}
.email-wrapper .mailbody .disclaimer span {
	display: block;
}
.deliveryview {
	border-top: 2px solid #ccc;
	margin-top: 20px;
	padding-top: 20px;
}
.deliveryview h3 {
	font-size: 20px;
}
.deliveryview:first-child {
	border-top: 0px;
	margin-top: 0px;
	padding-top: 0px;
} 
.deliveryview .d-flex .column1 {
	width: 110px;
}
.deliveryview .d-flex .column:last-child {
	margin-left: 10px;
}
.dtTheme {
	background: #b7091e;
	color: #fff;
}
.reply-section {
	margin-top: 20px;
}
.reply-section:first-child {
	margin-top: 0px;
}
.reply-section:last-child {
	margin-top: 0px;
}
.reply-section .namedetails {
	display: flex;
	background: #f2f2f2;
	padding: 10px 12px;
	margin-bottom: 10px;
	border-top: 1px solid #ccc;
	margin-top: 20px;
}
.reply-section .namedetails img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	object-position: top;
}
.reply-section .namedetails .name {
	margin-left: 5px;
	color: #b7091e;
	margin-top: 4px;
}
.reply-section a {
	color: green;
	font-weight: bold;
}
.reply-section .namedetails .name span {
	display: block;
	font-size: 12px;
	color: #808080
}
.org-wrapper {
	background: #fff;
	padding: 23px 40px;
	box-shadow: 2px 13px 23px -1px #ddd;
}
.companylogo{
	margin-top: 14px;
}
.org-wrapper .box {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px 0px;
	margin-top: 10px;
}
.org-wrapper .box h3{
	margin-top: 18px;
	font-size: 16px;
}
.btn-org {
	margin-top: 9px;
	background: transparent;
	border: 2px solid #b7091e;
	color: #b7091e;
	font-weight: bold;
}
.btn-org:hover {
	color: #fff !important;
}
.flex-lead {
	display: flex;
}
.headingMain {
	font-size: 22px;
	font-weight: bold;
}
.progress-steps ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
	display: flex;
}
.progress-steps ul li {
	width: 100%; 
	position: relative;
	list-style: none;
}
	.progress-steps ul li .approval-point {
		display: inline-block;
		height: 30px;
		width: 30px;
		line-height: 30px;
		background: #3f3f3f;
		border-radius: 100%;
		text-align: center;
		color: #fff;
		font-weight: bold;
	}
.progress-steps ul li .approval-person {
	margin-top: 10px;
}
.progress-steps ul li .approval-person .name {
	font-size: 14px;
	font-weight: bold;
}
.progress-steps ul li .approval-person .On {
	font-size: 12px;
	color: #999;
}
.progress-steps ul li .approval-person span {
	display: block;
}
.progress-steps ul li:first-child {
	margin-left: 0px;
}
	.progress-steps ul li:after {
		content: "";
		position: absolute;
		top: 14px;
		height: 4px;
		width: 100%;
		background: #3f3f3f;
		margin-left: 30px;
	}
.progress-steps ul li:last-child:after {
	width: 0px;
}
	.progress-steps ul li .approval-point.reviewcompleted {
		background: #2e753b;
		position: relative;
	}
	.progress-steps ul .reviewcompleted:after {
		background: #2e753b;
	}
	.progress-steps ul li .approval-point.absent {
		background: #b7091e;
	}
	.progress-steps ul .absent:after {
		background: #b7091e;
	}
.progress-steps ul li .approval-point.notapplicable {
	background: #ddd;
}
.progress-steps ul .notapplicable:after {
	background: #ddd;
}
.progress-meening ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	margin-bottom: 20px;
}
.progress-meening ul li {
	display: inline-block;
	margin-left: 10px;
}
.progress-meening ul li span {
	height: 10px;
	width: 10px;
	display: inline-block;
	border-radius: 100%;
	margin-right: 4px;
}
	.progress-meening ul li .reviewcompleted {
		background: #2e753b;
	}
	.progress-meening ul li .absent {
		background: #b7091e;
	}
.progress-meening ul li .notapplicable {
	background: #ddd;
}
	.progress-meening ul li .awaiting {
		background: #3f3f3f;
	}
.progress-meening ul li:first-child {
	margin-left: 0px;
}
.marg {
	margin: 5px 0px;
}

.bgId {
	background: #b7091e;
	padding: 2px 4px;
	color: #fff;
	margin-right: 10px;
}

.block {
	display: block;
	border-bottom: 1px solid #ddd;
	padding: 5px 0px;
}

#divSummary {
	margin-top: 10px;
}

.heaidngicon {
	font-size: 22px !important;
}

.styleico {
	height: 30px;
	width: 30px;
	line-height: 30px !important;
	text-align: center;
	background: #552984;
	color: #fff;
	border-radius: 100%;
}
.ui-autocomplete {
	padding: 0px;
	margin: 0px;
	list-style: none;
	background: #fff;
	width: 275px;
	border: 1px solid #ccc;
	max-height: 200px;
	overflow-y: auto;
	z-index: 99;
}

.ui-autocomplete li {
	border-bottom: 1px solid #ccc;
	padding: 10px 5px;
}

.ui-autocomplete li:hover {
	cursor: pointer;
}
.nav-tabs > li > a, .nav-pills > li > a {
	color: #552984;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #b7091e;
}
.maualWrapper ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
	.maualWrapper ul li {
		text-align: center;
		background: #b7091e;
		color: #fff;
		padding: 0;
		margin-top: 15px;
	}
.maualWrapper ul li:first-child {
	margin-top: 0px;
}
.maualWrapper ul li ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
	margin-top: 20px;
}
.maualWrapper ul li ul li {
	text-align: center;
	background: #efefef;
	color: #000;
	padding: 15px 20px;
	margin-top: 4px;
}
.maualWrapper ul li ul li .submanual {
	font-size: 16px;
	font-weight: bold;
	display: block;
}
.maualWrapper ul li ul li span {
	display: block;
}
.maualWrapper ul li .steps{
	text-align: center; 
	font-size: 20px;
}
.maualWrapper ul li .steps span {
	display: block;
	font-size: 14px;
	background: #b18f57;
	margin-bottom: 10px;
	padding: 4px;
}
.flex-lead .flex-div {
	margin-right: 5px;
	background: #f6edff;
	padding: 5px 10px;
	width: 100%;
	border-radius: 4px;
	border: 1px solid #552984;
	color: #552984;
}
.listnone{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.listnone li{
	border-bottom: 1px solid #ddd;
	padding: 10px 0px;
}
.listnone li:last-child{
	border-bottom: 0px;
}
.listnone span {
	display: block;
	font-size: 12px;
	color: #919191;
}
.label-result {
	font-size: 24px;
	font-weight: bold;
	display: block;
}

.label-span {
	display: block;
}
.ratingflex {
	display: flex;
	flex-wrap: wrap;
}
.equalWidth {
	display: flex;
	flex-wrap: wrap;
}
.flex-b {
	width: calc(19% - -11px);
	margin-left: 6px;
}
.dataanalytics-master {
	padding: 10px;
	margin-top: 10px;
	box-shadow: 0 2px 6px -1px rgba(0,0,0,.07), 0 6px 18px -1px rgba(0,0,0,.04) !important;
}
.dataCalendar {
	padding: 0px;
	margin: 10px;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.total-data-m {
	display: inline-block;
	height: 40px;
	width: 40px;
	line-height: 40px;
	background: green;
	text-align: center;
	color: #fff;
	border-radius: 100%;
}
.dataCalendar li {
	width: calc(13% - -2px);
	background: #fff7e9;
	border: 1px solid #b7091e;
	padding: 7px;
	text-align: center;
}
.dataCalendar li .countdata {
	font-size: 18px;
	font-weight: bold;
}
.dataCalendar li .todayFill {
	background: #958e84;
	border: 2px solid #727272;
	line-height: 24px;
	padding: 2px 14px;
	color: #fff;
}
.dataCalendar li .countdatadata {
	font-size: 14px;
	margin-top: 5px;
	display: block;
}
.dataCalendar li .countseconddata {
	font-size: 12px;
	margin-top: 5px;
	display: block;
	color: green;
}

.dataCalendar li .countthirddata {
	font-size: 12px;
	margin-top: 5px;
	display: block;
	color: red;
}

.dataCalendar li .countfourthdata {
	/*font-style: italic;*/
	font-weight: bold;
	color: #afa6a6;
	font-size: 13px;
	font-family: Tahoma;
}
.dataCalendar li:first-child{
	margin-left: 0px;
}
.gmpc-percent-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.addbutton-data {
	background: green;
	height: 30px;
	border-radius: 4px;
	line-height: 29px;
	width: 60px;
	text-align: center;
	margin-right: 6px;
}
.addbutton-data a {
	color: #fff;
}
.flex-b .form-group {
	margin-bottom: 5px;
}
.datatypeStyle{
	margin-top: 6px;
}
.datatypeStyle .form-control {
	font-weight: bold;
}
.card-rating {
	box-shadow: 1px 3px 10px -1px #ddd;
	padding: 20px;
	width: calc(24.2% - -7px);
	margin-right: 6px;
	margin-top: 10px;
}
.card-rating .ratinglable {
	font-size: 40px;
	font-weight: bold;
	display: block;
}
.ratingaverage{
	font-size: 18px;
	font-weight: bold;
}
.card-rating .ratingpara {
	font-size: 13px;
	font-weight: bold;
	display: block;
}
.nestedSpan span {
	display: block;
}
.rectextbox {
	height: 30px !important;
	border-radius: 0px !important;
	width: 100px;
}
.screeningstyle{
	padding: 10px;
}
.redscreening{
	background: red;
	color: #fff;
}
.orangescreening {
	background: orange;
	color: #fff;
}
.greenscreening {
	background: green;
	color: #fff;
}
.screening-style ul {
	display: flex;
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.screening-style ul li{
	margin-left: 10px;
	background: #ddd;
	width: 100%;
	padding: 20px;
}
.screening-style ul li a{
	color: #000;
	font-size: 14px;
}
.screening-style ul li:first-child{
	margin-left: 0px;
}
.xml-flex {
	display: flex;
	flex-wrap: wrap;
}

.card-wr {
	box-shadow: 0 0 3px 0 rgba(0,0,0,.07),0 2px 2px 0 rgba(0,0,0,.04) !important;
	padding: 20px;
	width: calc(25% - 20px);
	margin: 10px;
	border: 1px solid #ddd;
	position: relative;
}
.foundsc {
	position: absolute;
	right: 0px;
	top: 0px;
	background: red;
	color: #fff;
	padding: 2px 4px;
	font-size: 12px;
	font-weight: bold;
}

.xmlName {
	font-size: 20px;
	font-weight: bold;
}

.para {
	padding: 5px 0px;
	border-bottom: 1px solid #ddd;
}

.para:last-child {
	border-bottom: 0px;
	padding-bottom: 0px;
}

.para span {
	font-weight: bold;
	color: #b7091e;
}

.para ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

	.para ul li {
		display: block;
	}
.labelrec {
	width: 80px;
}
.textreceipt {
	padding: 2px 6px;
}
.greentext {
	color: #009a48;
}
.avtar-wrapper{
	display: flex;
}
.bigpaid {
	font-size: 30px;
	font-weight: bold;
	border: 0px;
	padding: 0px;
	background: transparent !important;
}
.flex-d-att{
	display: flex;
}
.flex-d-att .form-group {
	width: 100%;
	margin-left: 15px;
}
.flex-d-att .form-group:first-child {
	margin-left: 0px;
}
.flex-d-att .form-group .form-control {
	height: 40px;
}
.flex-d-att .form-group .btn {
	width: 97%;
	height: 40px;
}
.card-att {
	box-shadow: 0 2px 1px 0 rgb(0, 0, 0, 0.2);
	padding: 10px;
	border: 1px solid #f2f2f2;
	float: left;
	width: 100%;
}
.card-att .shift-timing-wra {
	float: left;
	width: 100%;
	border-top: 1px solid #ddd;
	margin: 15px 0px;
}
.card-att .shift-timing-wra .shifttime {
	float: left;
	width: 50%;
}
.card-att .shift-timing-wra .lablel-shift {
	font-size: 16px;
	font-weight: bold;
	padding-top: 10px;
}
.btn-punchoutatt {
	background: #b7091e;
	color: #fff;
	box-shadow: 1px 10px 8px -4px #ddd;
}
	.btn-punchoutatt:hover {
		background: #b7091e;
		color: #fff;
		opacity: 0.9;
	}
.card-att .shift-timing-wra .punchoutbtn {
	float: left;
	width: 50%;
	padding-top: 15px;
	text-align: right;
}
.blockofatteport {
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-top: 10px;
	padding-bottom: 4px;
}
.blockofatteport:last-child{
	margin-bottom: 0px;
}
.card-att .card-h {
	font-size: 20px;
	font-weight: bold;
}
.valuededuction.calcul {
	display: block;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	border-radius: 100%;
}
.valuededuction.totalholidays {
	background: orange;
}
.valuededuction.totalded {
	background: red;
}
.valuededuction.totalpayable {
	background: green;
}
.statis-heading .card-h {
	font-size: 16px;
	margin: 8px 0px;
}
.bar-circle ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
	position: relative;
}
.bar-circle ul:before {
	content: "";
	border: 1px solid #e5e5e5;
	position: absolute;
	top: 8px;
	bottom: 0;
	left: 7px;
}
.bar-circle ul li {
	position: relative;
	margin-left: 20px;
	margin-top: 20px;
	display: flex;
}
.bar-circle ul li div {
	width: 100%;
}
.bar-circle ul li:first-child {
	margin-top: 4px;
}
.bar-circle ul li:before {
	position: absolute;
	content: "";
	height: 10px;
	width: 10px;
	border-radius: 100%;
	border: 2px solid #b7091e;
	background: #fff;
	top: 5px;
	left: -17px;
}
.bar-circle ul .p-timing {
	color: #999;
}
.deductionr {
	font-weight: bold;
	font-size: 14px;
}
.valuededuction {
	font-weight: bold;
	font-size: 12px;
	color: #8f8f8f;
	display: block;
}
.punchin-row {
	background-color: #f9f9f9;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 10px 15px;
}
.bigcircle {
	height: 200px;
	width: 200px;
	line-height: 176px;
	text-align: center;
	background-color: #f9f9f9;
	border: 10px solid #2e753b;
	border-radius: 100%;
	margin: 0 auto;
	font-weight: bold;
	font-size: 20px;
}
.perdaystatus {
	background: #b7091e;
	font-size: 12px;
	padding: 2px 6px;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	border-radius: 4px;
}
.punchin-row .fulldate {
	font-size: 18px;
}
.table-sriped-design tbody tr td, th {
	padding: 10px 4px;
	font-size: 14px;
}
/*.table-sriped-design tbody tr:nth-child(odd){
	background: #E9E9E9;
}
.table-sriped-design thead tr:first-child {
	background: transparent;
	border-bottom: 2px solid #333;
}*/
.avtar-wrapper .avtar-bd img {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	object-fit: cover;
	object-position: top;
}
.avtar-wrapper .name-bd {
	margin-left: 10px;
}
.avtar-wrapper .name-bd h4 {
	margin-left: 10px;
	font-weight: bold !important;
}
.avtar-wrapper .name-bd span {
	display: block;
	font-size: 14px;
}
.nestedSpan .smallFont {
	font-size: 11px;
}
.table-stripped {
	width: 100%;
}
.table-stripped tr:nth-child(even) {
	background-color: #f2f2f2;
}
.table-stripped tr td {
	padding: 14px 7px !important;
	border: 0px;
}
.table-stripped tr th {
	padding: 14px 7px !important;
	border: 0px;
}

.table-stripped tr td span {
	display: block;
}
.section-flex {
	display: flex;
}
.section-flex .seprater-c {
	font-size: 18px;
	font-weight: bold;
	width: 400px;
}
.green-box {
	background: #009a48 !important;
	color: #fff;
}
.green-box:hover {
	background: #009a48 !important;
	color: #fff;
}
.clps2 td{
	vertical-align: middle !important;
}
.icon-p {
	height: 40px;
	width: 40px !important;
	line-height: 40px;
	background: #edb4b4;
	border-radius: 100%;
}
.icon-p i {
	-ms-transform: rotate(40deg);
	transform: rotate(40deg);
}
.btn-mi{
	line-height: 30px;
}
.modal-lg {
	width: 1200px;
}
.top-action {
	margin-top: 7px;
}
.midl-icon {
	background: #ddd;
	height: 34px;
	line-height: 34px !important;
	padding: 0px 4px;
	border-left: 2px solid #afafaf;
}
.btn-lessp {
	padding: 3px 12px;
	background: #b7091e;
	color: #fff !important;
}
.btn-lessp:hover {
	background: #b7091e;
	color: #fff;
}
.arithmatic-d {
	background: #ddd;
	padding: 7px 10px;
	font-size: 14px;
	font-weight: bold;
}
.totalAmounthighlight {
	display: inline-block;
	background: #22a322;
	color: #fff;
	padding: 2px 4px;
}
.gratuityLabel .control-label{
	font-size: 12px;
}
.input-group-btn a {
	margin-left: 5px;
	display: inline-block;
	padding: 4px 6px;
	border-radius: 4px;
}
.d-fl-in{
	display: flex;
}
.d-fl-in .form-group {
	margin-left: 4px;
}
.iconDesign i {
	height: 20px;
	width: 20px;
	line-height: 20px !important;
	margin-top: 4px;
	background: #ddd;
	text-align: center;
}
.quotation-row {
	background: #ddd;
	padding: 7px 9px;
	font-size: 17px;
	font-weight: bold;
	margin-top: 10px;
	float: left;
	width: 100%;
}
.picwrapper {
	display: flex;
	position: relative;
	width: 100%;
}
.picwrapper .pic {
	width: 100px;
}
.picwrapper .detailsemp {
	margin-left: 13px;
	position: absolute;
	left: 97px;
	top: 50%;
	transform: translateY(-50%);
}
.detailsemp .name {
	font-size: 14px;
	font-weight: bold;
	width: 168px;
}
.detailsemp .department {
	background: #d9d9d9;
	color: #020202;
	margin-bottom: 3px;
	padding: 0px 7px;
	display: inline-block;
}
.profilec {
	height: 100px;
	width: 100px;
	object-fit: cover;
	object-position: top;
	border-radius: 100%;
}
.lblDataCaption1 {
	font-size: 25px !important;
	font-weight: bold !important;
}
.section-flex .radio-gr {
	margin-left: 20px;
	margin-top: 2px;
	width: 400px;
}
.heading-pop {
	background: #b7091e;
	font-size: 14px;
	font-weight: bold !important;
	padding: 6px;
	margin: 12px 1px 4px;
	display: inline-block;
	color: #fff;
}
.card-section-w{
	float: left;
	width: 100%;
	background: #f2f2f2;
	padding: 10px;
}
.h3{
	margin-top:5px;
	margin-bottom:5px;
	font-size: 18px;
	font-weight: bold;
}
.reports-sales ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: flex;
}

.reports-sales ul li {
	width: 100%;
	margin: 10px 2px;
	background: #ddd;
	padding: 9px 22px;
	display: flex;
	border-radius: 10px;
}
.reports-sales ul li .img-wrap img {
	width: 30px;
	margin-top: 9px;
}
.reports-sales ul li .caption-wrap {
	margin-left: 12px;
	position: relative;
}
.reports-sales ul li .caption-wrap .automatic {
	margin-left: 12px;
	position: absolute;
	height:25px;
	width: 25px;
	background: green;
}
.reports-sales ul li .caption-wrap span {
	display: block;
}

.reports-sales ul li .caption-wrap .lblCurrentData {
	font-size: 24px;
	font-weight: bold;
}
.together-box ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: flex;
}

.together-box ul li {
	width: 100%;
	margin: 10px 0px;
	padding: 9px 22px;
	display: flex;
	border: 1px solid #ddd;
	position: relative;
}
.together-box ul li .caption-wrap {
	width: 100%;
	float: left;
}
.together-box ul li .caption-wrap .lblDataCaption {
	font-size: 16px; 
	font-weight: bold;
	display: block;
}
.together-box ul li .caption-wrap .lblCurrentData {
	font-size: 26px;
	font-weight: bold;
	margin-top: 9px;
	margin-left: 3px;
	display: block;
}
.together-box ul li .icon-mean {
	position: absolute;
	right: 30px;
	top: 9px;
}
.together-box ul li .icon-mean img {
	width: 34px;
}
.cu-bot {
	font-size: 14px;
	margin-top: 23px;
}
.icon-in {
	font-size: 20px !important;
	margin-top: 5px;
}
.bg-head-tb {
	background: #b7091e;
	color: #fff;
}
.modal-self-width {
	width: 82%;
}
.circle-live {
	position: absolute;
	top: -6px;
	left: -61px;
}
.circle-live, .circle-live::before {
	content: " ";
	margin: 15px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin: 0 auto;
	transition: all 0.3s;
	background-color: #009A48;
}

.circle-live::before {
	animation: mymove 2s infinite;
	position: absolute;
	background-color: #009A48;
}

@-webkit-keyframes mymove {
	50% {
		transform: scale(2);
		opacity: 0
	}

	100% {
		transform: scale(2);
		opacity: 0
	}
}
.clientIdS {
	display: inline-block;
	font-size: 12px;
	background: #b7091e;
	color: #fff;
	padding: 2px;
}
.disabledDrp {
	height: 34px;
	width: 100%;
	background: #cccccc;
	border-radius: 4px;
}
.disabledDrp:hover {
	cursor: not-allowed;
}
.clientIdS a {
	color: #fff;
}
.bg-theme-text {
	background: #b7091e;
	padding: 7px 10px;
	color: #fff;
	border-radius: 5px;
}
.topManagement ul {
	margin: 0px auto;
	padding: 0px;
	list-style: none;
}
.topManagement ul li {
	padding: 4px 6px;
	color: #fff;
	width: 100%;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
	position: relative;
}
.topManagement ul li:after {
	position: absolute;
	content: "";
	top: 48px;
	width: 2px;
	color: white;
	border-bottom: 20px solid #b7091e;
	display: block;
	left: 50%;
	transform: translateX(-50%);
}
.topManagement ul li:last-child:after {
	border-bottom: 0px transparent;
}
.topManagement ul li .designation {
	display: block;
	font-size: 12px;
	font-weight: 500;
}
.hod > ul {
	margin: 0px auto;
	padding: 0px;
	margin-top: 30px;
	display: flex;
	list-style: none;
}
.departmentLevel > ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-align: center;
}
.departmentLevel span {
	display: block;
	padding: 9px;
	font-weight: 500;
}
.titleDesignation {
	font-size: 16px;
	font-weight: bold !important;
	padding: 0px !important;
}
.departmentLevel .full-list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.departmentLevel .full-list .liststyle {
	display: block;
	width: 100%;
	color: #fff;
	position: relative;
	z-index: 9;
}
.departmentLevel .flex-full {
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: flex;
}
.departmentLevel .flex-full .liststyle {
	display: inline-block;
	width: 100%;
	color: #fff;
	position: relative;
	z-index: 9;
}
.departmentLevel .flex-full .liststyle > span {
	height: 65px;
	margin: 0px 10px 22px;
	overflow-y: auto;
}
.departmentLevel .flex-full .liststyle:first-child {
	margin-left: 0px;
}

.departmentLevel .flex-full .liststyle:last-child {
	margin-right: 0px;
}
.hod > ul > li {
	color: #fff;
	display: inline-block;
	margin: 2px 4px;
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 9;
}
.hod > ul > li:first-child {
	margin-left: 0px;
}
.hod > ul > li > span.first-parent{
	display: block;
}
.hod > ul > li > ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	position: relative;
}
.hod > ul > li > ul:after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 2px;
	background: #4e4e4e;
	height: 100%;
	top: -32px;
	z-index: -1;
}
.hod > ul > li > ul > li {
	margin-top: 15px;
	padding: 7px;
}
.prt {
	background: #8f8f8f;
}
.ceo {
	background: #57b528;
}
.md {
	background: #d1933c;
}
.dir {
	background: #52319a;
}
.edir {
	background: #d23643;
}
.gm {
	background: #0066cb;
}
.reviewgreen {
	background: green;
	color: #fff !important;
}
.reviewgreen:hover {
	background: green;
	color: #fff;
}
.backButton {
	font-size: 22px !important;
	color: #fff;
}
.btn-marg{
	margin-top: 7px;
}
.mailSent {
	display: flex;
	border-bottom: 1px solid #ddd;
	padding: 3px 0px 3px 0px;
}
.mar-r {
	margin-right: 16px;
}
.resetbtn {
	background: #2e753b;
	color: #fff;
}
.resetbtn:hover {
	opacity: 0.8;
	color: #fff;
}
.reducebtn {
	padding: 3px 7px;
	font-size: 12px;
	margin-top: 4px;
}
.fileDetails {
	list-style: none;
	margin: 0px;
	padding: 0px;
	margin-top: 4px;
}
.fileColor {
	font-size: 18px;
	font-weight: bold;
}
.fileDetails li {
	display: inline;
	background: #fde6bf;
	margin-right: 10px;
	padding: 1px 6px;
}
.mailSent:last-child {
	border-bottom: 0px;
}
.mr{
	margin-left: 5px;
}
.select2-container-multi .select2-choices .select2-search-field input{
	font-family: inherit;
}
.mailSent .ColMailSent {
	width: 130px;
}
.reviewblue { 
	background: blue;
	color: #fff;
}
.reviewred {
	background: red;
	color: #fff;
}
.com{
	font-size: 20px;
}
.greenbtn {
	background: green;
	color: #fff;
}
.graybtn {
	background: #333;
	color: #fff !important;
}
.graybtn:hover {
	background: #333;
	color: #fff !important;
}
.whatsappbtn {
	background: #25D366;
	color: #fff !important;
}
.whatsappbtn:hover {
	background: #25D366;
	color: #fff !important;
}
.liBlue {
	background: #0db1af;
	color: #fff;
}
.liBlue:hover {
	color: #fff;
	opacity: 0.8;
}
.liOrange {
	background: #ef7803;
	color: #fff;
}
.liOrange:hover {
	color: #fff;
	opacity: 0.8;
}
.gray {
	background: #9FA0A3;
	color: #fff;
}
.gray:hover {
	color: #fff;
	opacity: 0.8;
}
.margin-b{
	margin-bottom: 80px;
}
.purple {
	background: #6e0aa8;
	color: #fff;
}
.purple:hover {
	background: #6e0aa8;
	color: #fff;
	opacity: 0.8;
}
.magenD {
	background: #221d2c;
	color: #fff;
}
.magenD:hover {
	background: #221d2c;
	color: #fff;
	opacity: 0.8;
}
.greenD {
	background: #2e753b;
	color: #fff;
}
	.greenD:hover {
		background: #2e753b;
		color: #fff;
		opacity: 0.8;
	}
.greenDD {
	background: #2e753b;
	color: #fff;
}
	.greenDD:hover {
		background: #2e753b;
		color: #fff;
		opacity: 0.8;
	}
.greenDDD {
	background: #2e753b;
	color: #fff;
}
	.greenDDD:hover {
		background: #2e753b;
		color: #fff;
		opacity: 0.8;
	}
.blueD {
	background: #034ea1;
	color: #fff;
}
	.blueD:hover {
		background: #034ea1;
		color: #fff;
		opacity: 0.8;
	}
.form-horizontal .control-label{
	margin-bottom: 5px;
}
.footer-track {
	background: #3b434c;
	padding: 20px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	color: #fff;
}
.btn-no-r-l {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.btn-no-r-r {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.to {
	display: inline-block;
	background: #e5e5e5;
	width: 133px;
	text-align: center;
	line-height: 32px;
}
.blrUpdate {
	width: 168px;
}
.blrUpdate1 {
	width: 168px;
}
.updateVAtWith{
	width: 100px;
}
.samewidthCalc {
	display: flex;
}
.samewidthCalc .div-column {
	margin-left: 0px;
	margin-right: 6px;
	width: 300px;
}
.samewidthCalc .div-column:first-child {
	margin-left: 15px;
}
.samewidthCalc .div-column:last-child {
	margin-right: 15px;
}
.div-column .control-label {
	font-size: 12px;
}
.tableassignment tr th{
	font-size: 12px !important;
	font-weight: bold;
}
.tableassignment tr td {
	font-size: 12px;
	font-weight: bold;
}
.samewidthCalc1 {
	display: flex;
}
.samewidthCalc1 .div-column{
	margin-left: 15px;
	margin-right: 18px;
	width: 300px;
}
.footer-spacing {
	margin-bottom: 100px;
}
.greenbtn:hover {
	color: #fff;
}
.deliveryP div{
	background: green;
	padding: 10px;
	color: #fff;
	font-weight: bold;
	margin-bottom: 20px;
	display: inline-block;
}
.spacing {
	margin-top: 20px;
}
.deliveryList ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
	margin-top: 20px;
}
.deliveryList ul li {
	border-left: 1px solid #000;
	display: inline-block;
	line-height: 12px;
	padding-left: 10px;
	padding-right: 10px;
}
.deliveryList ul li:first-child {
	border-left: 0px;
	padding-left: 0px;
}
.greenbg {
	background: #25D366;
	color: #fff;
}
.greenbg:hover{
	color: #fff; 
}
.deliveryStyle .control-label{
	margin-bottom: 4px;
}
.mtop-10{
	margin-top: 10px;
}
.mt-6{
	margin-top: 6px;
}
.none {
	display: none;
}
.flex-box-wrapper {
	display: flex;
	margin-bottom: 18px;
}
.flex-box-wrapper .flex-box {
	width: 100%;
	background: #ddd;
	margin: 2px;
	padding: 6px 23px;
	border-radius: 4px;
}
.flex-box-wrapper .flex-box:last-child {
	margin-right: 0px;
}
.time-range-d {
	display: flex;
}
.time-range-d .text-to {
	background: #f2f2f2;
	padding: 6px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
.radtime {
	border-top-left-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
}
.radtime1 {
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
}
.flex-cat {
	display: flex;
}
.flex-cat div {
	width: 100%;
	padding: 5px 0px;
	vertical-align: middle;
	text-align: center;
}
.flex-cat div .textLable{
	height: 34px;
	border: 1px solid #ccc;
}
.period-width {
	width: 155px !important;
}
.bgprimary {
	background: #b7091e;
	color: #fff;
}
.bgprimary th {
	border: 1px solid #b7091e;
}
.bgprimary td {
	border: 1px solid #b7091e;
}
.lnh {
	line-height: 30px;
}
.addSpan {
	height: 33px;
	width: 78px;
	line-height: 33px;
	background: #b7091e;
	display: block;
	border-radius: 4px;
	float: right;
	text-align: center;
	color: #fff;
}
.flex-r{
	display: flex !important;
}
.bgbl {
	background: #b7091e !important;
}
.sticky-col {
	position: -webkit-sticky !important;
	position: sticky !important;
	background-color: white;
	z-index: 99;
}
.first-col {
	width: 150px;
	min-width: 200px;
	max-width: 200px;
	left: 0px;
}
.second-col {
	width: 253px;
	min-width: 190px;
	max-width: 375px;
	left: 199px;
}
.first-col-o {
	width: 50px;
	min-width: 80px;
	max-width: 50px;
	left: 0px;
}
.second-col-o {
	width: 253px;
	min-width: 190px;
	max-width: 375px;
	left: 85px;
}
.t-col-o {
	width: 253px;
	min-width: 190px;
	max-width: 375px;
	left: 269px;
}
.third-col {
	width: 253px;
	min-width: 375px;
	max-width: 375px;
	left: 358px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: 1px solid #ddd !important;
	border-bottom: 1px solid #ddd !important;
}
/* remove gutter spacing outside */
.row.no-gutter {
	margin-left: 0;
	margin-right: 0;
}
.remarks-w{
	width: 200px;
}
.th-sm {
	font-size: 11px;
	display: block;
}
/* only remove padding of middle columns */
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
	padding-right: 0;
	padding-left: 0;
}
.edit-period {
	background: #b7091e;
	color: #fff;
	width: 31px;
	text-align: center;
	line-height: 33px;
}
.edit-period a{
	color: #fff;
}
.no-rad-b {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-right: 0px;
}
.activebtn{
	display: block;
}
.inactivebtn{
	display: none;
}
.no-rad-b-l {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.row.no-gutter-2 {
	margin-left: 0;
	margin-right: 0;
}
.bgRed {
	background: #b7091e;
	color: #fff;
}
.bgRed:hover {
	background: #b7091e;
	color: #fff;
}
.bgPurple {
	background: #552984;
	color: #fff;
}
	.bgPurple:hover {
		background: #552984;
		color: #fff;
	}
.mainmargin {
	margin-top: 6px;
	display: block;
}
.totRAmount {
	font-size: 19px;
	display: block;
	font-weight: bold;
}
.greenText{
	color: green;
}
.redText{
	color: red;
}
#outstandingvalue {
	display: inline-block;
	text-align: center;
}
.receivedTheme .lableAm {
	display: block;
	font-weight: bold;
}
.receivedTheme .ResultValue .amountSize {
	font-size: 30px;
	font-weight: bold;
}
.pgbar-height {
	height: 30px;
	margin-bottom: 0px;
}
.bgBlue {
	background: #4285F4;
	color: #fff;
}
.bgBlue:hover {
	opacity:0.8;
	color: #fff;
}
.bgGreen {
	background: #2e753b;
	color: #fff !important;
}
.bgGreen:hover {
	opacity: 0.8;
	color: #fff;
}
.bgOrange {
	background: #ec8907;
	color: #fff;
}
.bgOrange:hover {
	opacity: 0.8;
	color: #fff;
}
.bgYellow {
	background: #F4B400 !important;
	color: #fff;
}
.orange {
	background: #e1a639 !important;
	color: #fff;
}
.moval{
	width: 50px;
}
.detailsPayment{
	display: flex;
}
.detailsPayment .boxes {
	padding: 10px;
	margin-left: 16px;
}
.detailsPayment .boxes h3 {
	margin: 0px;
}
.orange:hover {
	color: #fff;
	opacity: 0.9;
}
.companyName {
	display: block;
	font-size: 25px;
	font-weight: bold;
	color: #b7091e;
}
.rad-top-none {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	padding: 5px;
	font-size: 12px;	
	font-weight: bold;
}
.rad-l-none {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.clientid {
	display: inline-block;
	background: #b7091e;
	color: #fff;
	margin-top: 9px;
	padding: 2px 4px;
}
.invoiceNo{
	font-size: 18px;
}
.Quot {
	background: green;
	color: #fff !important;
	padding: 3px 6px;
}
.Quot:hover{
	color: #fff;
}
.mt-11 {
	margin-left: 11px;
}
.invoiceAmount {
	font-size: 30px;
	font-weight: bold;
}
.editQuot {
	font-size: 16px;
	font-weight: bold;
}
.quotAmount {
	font-size: 16px;
	border: 0px;
	font-weight: bold;
	padding: 0px 0px;
	height: 21px;
}
.receiptAmount {
	font-size: 30px;
	border: 0px;
	margin-top: 4px;
	font-weight: bold;
}
.font-xs {
	font-size: 12px;
}
.clsNotificationList li a ul{
	padding: 0px;
	margin-top: 4px;
}
.clsNotificationList li a ul li {
	display: inline-block;
	padding: 0px 10px;
	line-height: 10px;
	border-right: 1px solid #aaafb7;
}
.clsNotificationList li a ul li:first-child{
	padding-left: 0px;
}
.clsNotificationList li a ul li:last-child{
	border-right: 0px;
}
.clsNotificationList li a span {
	display: block;
}
.hideDiv {
	display: none;
}
.activeDiv{
	display: block;
}
.iconL {
	height: 25px;
	width: 25px !important;
	background: #b7091e;
	line-height: 25px !important;
	text-align: center !important;
	font-size: 12px !important;
	border-radius: 100%;
	color: #fff;
}
.tableStatusBg1 {
	background-color: #b7091e;
	color: #fff;
}
.btn-success {
	background: green;
	color: #fff;
	font-weight: bold;
}
.deleteBtn {
	color: white;
	background: red;
	height: 25px;
	width: 25px;
	text-align: center;
	line-height: 25px;
	display: inline-block;
}
.deleteBtn:hover{
	color: #fff;
	opacity: 0.9;
}
.editBtn {
	color: white;
	background: green;
	height: 25px;
	width: 25px;
	text-align: center;
	line-height: 25px;
	display: inline-block;
}
.editBtn:hover {
	color: #fff;
	opacity: 0.9;
}
.fileNoBg {
	background: #606060;
	border-top: 6px solid #333;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}
.fileNoBg1 {
	background: #d7d7d7;
	color: #5d5d5d;
	font-size: 14px;
	font-weight: bold;
}
.fileNoBg:hover {
	background: #606060 !important;
}
.fileNoBg1:hover {
	background: #d7d7d7 !important;
}
.ulquot {
	padding: 0px;
	margin-bottom: 4px;
	list-style: none;
	width: 100%;
	float: left;
}
.ulquot li{
	display: inline;
	margin-left: 5px;
}
.ulquot li:first-child {
	margin-left: 0px;
}
.iconquo {
	height: 21px;
	width: 21px !important;
	line-height: 21px !important;
	border-radius: 100%;
	text-align: center;
	background: #fff;
	color: #333;
}
.idName {
	margin-bottom: 6px;
}
.clientDetails ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.clientDetails ul li {
	display: inline-block;
	padding: 0px 10px;
	border-left: 1px solid #979ca2;
	line-height: 10px;
}
.clientDetails ul li:first-child {
	border-left: 0px;
	padding-left: 0px;
}
.addsecondar {
	display: flex;
}
.addsecondar .textB {
	width: 73%;
}
.addsecondar .btnB {
	width: 23%;
}
.addsecondar .ddlB {
	width: 27%;
}

.addsecondar .btnB .righB {
	float: right;
}

.addsecondar .btnB .btn {
	padding: 3px 10px;
	margin-top: 3px;
}

.addsecondar .btnB .addbtnC {
	background: #b7091e;
	color: #fff;
}
.maualDate {
	width: 130px !important;
}
.statusDiv {
	width: 350px !important;
}
.modal-title{
	font-weight: 600;
}
.modelFull {
	width: 94% !important;
}
.dropdown-menu li > a {
	font-weight: 600;
	font-family: "Open Sans", sans-serif;
}
.remarksDiv {
	width: 400px !important;
}
.table thead tr th{
	vertical-align: top;
}
.downloadBtn {
	background: #b7091e;
	color: #fff;
	padding: 3px 6px;
	border-radius: 2px;
}
.downloadBtn:hover{
	color: #fff;
	opacity: 0.9;
}
.d-flxReport {
	display: flex;
}

.downloadBtn {
	line-height: 26px;
	margin-left: 2px;
}
.ReportsHeading {
	border-bottom: 2px solid #333;
	display: inline-block;
}
.control-label {
	font-weight: bold;
}
.tableEqh {
	height: 173px;
	overflow-y: scroll;
}
.statusAssignment .sameWidth {
	display: flex;
}
.statusAssignment .sameWidth .halfW{
	margin-right: 10px;
}
h3{
	margin-bottom: 22px;
	font-weight: 500;
}
.viewBtn1 {
	background: #36bb65;
	color: #fff;
	padding: 3px 6px;
	margin-top: 5px;
	display: inline-block;
	border-radius: 3px;
}

.viewBtn1:hover {
	text-decoration: none;
	opacity: 0.8;
	color: #fff;
}
.viewBtn a {
	color: #0089ff;
	font-weight: bold;
	display: inline-block;
	border-radius: 3px;
}
.viewBtn a:hover {
	text-decoration: none;
	opacity: 0.8;
}
.statusAssignment .sameWidth .halfW .iconF {
	display: block;
	height: 50px;
	width: 50px;
	line-height: 54px;
	color: #fff;
	background: #b7091e;
	text-align: center;
	border-radius: 100%;
}
.statusAssignment .sameWidth .halfW .iconF i {
	font-size: 20px;
}
.tableStatusBg {
	background: #b7091e;
	color: #fff;
}
.statusAssignment .sameWidth .halfW h4 {
	margin-top: 2px;
}
.addFIELD {
	width: 88%;
}
.addBTN {
	width: 10%;
	margin-left: 2%;
	background: green;
	display: block;
	color: #fff;
	line-height: 32px;
	text-align: center;
	border-radius: 4px;
}
	.addBTN:hover{
		color: #fff;
	}
	.addbtnperson {
		margin-top: -9px;
		background: #3598dc;
		padding: 0px 5px;
		color: #fff;
		float: right;
		border: 1px solid #14649a;
	}
.checkboxes input {
	border: none;
	background: none;
	display: -moz-inline-box;
	display: inline-block;
	width: 19px;
	height: 19px;
}
.jqueryslidemenu {
	/* width: 900px; */
	height: 40px;
	padding: 0;
	margin: 0;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-o-border-radius: 9px;
	background: #c3e9f1;
}
.validationFile {
	color: red;
	display: table-footer-group;
	margin-top: 5px;
	font-size: 12px;
}
/*.jqueryslidemenu ul li.myDTDC{background:url(../images/mydtdc_lock.gif) no-repeat; width:130px; float:right;  margin-top:-3px; height:38px;} REMOVED AFTER RIGHT ALIGNING THE LOGO*/
.jqueryslidemenu ul{
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.jqueryslidemenu ul li{ background:url(../images/navibor.jpg) left top no-repeat;
position: relative;
display: inline;
float: left;
padding-top:0px;
}

.jqueryslidemenu ul li:hover{ background:#fff;
}

/*Top level menu link items style*/
.jqueryslidemenu ul li a{
font-family: Arial, Helvetica, sans-serif; font-size:13px; font-weight:normal; color:#3F3F38; text-decoration:none; padding:0 4px; line-height:40px; display:block;font-weight: 700; 

}

* html .jqueryslidemenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.jqueryslidemenu ul li a:link, .jqueryslidemenu ul li a:visited{
color: 3F3F38;
}

.jqueryslidemenu ul li a:hover{
background: #fff; /*tab link background during hover state*/
color: #000;
}



	
/*1st sub level menu*/
.jqueryslidemenu ul li ul{box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
position: absolute;
left: 0;
display: block;
visibility: hidden;
background: #fff; padding:10px 0;
z-index:999;
border:0px solid #204382; 

}

/*Sub level menu list items (undo style from Top level List Items)*/
.jqueryslidemenu ul li ul li{
display: list-item; background:#fff;
float: none;

/* These three lines are for transparency in all browsers. 
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";filter: alpha(opacity=99);opacity:.5;*/ 
border-bottom:0px solid #9ec5d8;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.jqueryslidemenu ul li ul li ul{
top: 0;padding:0 0 10px 0; margin:10px 0;

}

/* Sub level menu links style */
.jqueryslidemenu ul li ul li a{
width: 170px; /*width of sub menus*/
font-size:12px;
font-family: Trebuchet MS, Arial, Sans-serif; background:none;
font-weight:normal;
padding: 6px 2px 8px 13px;
margin:0;
border-top-width: 0;
color:#c05541!important;line-height:11px !important;
}

.jqueryslidemenu ul li ul li a:hover{ /*sub menus hover style*/

color: #000 !important;
}



/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: static;
top: 11px;
right: 10px;
}

.rightarrowclass{
position: absolute;
top: 9px;
right: 0px;
}



.radius_menu:hover{ background: #fff; color:#0c286b; display:block; line-height:40px; text-shadow:none; 
border-bottom-left-radius:9px;
-moz-bottom-left-radius:9px; 
-webkit-bottom-left-radius:9px;
-o-bottom-left-radius:9px;
border-top-left-radius: 9px;
-moz-top-left-radius:9px; 
-webkit-top-right-radius:9px;
-o-top-left-radius:9px;}

.radius_menu.active{ background: #fff; color:#0c286b; display:block; line-height:40px; text-shadow:none; 
border-bottom-left-radius:9px;
-moz-bottom-left-radius:9px; 
-webkit-bottom-left-radius:9px;
-o-bottom-left-radius:9px;
border-top-left-radius: 9px;
-moz-top-left-radius:9px; 
-webkit-top-right-radius:9px;
-o-top-left-radius:9px;}



.radius_menu_right.selected{ background: #000; color:#0c286b; display:block; line-height:40px; text-shadow:none; 
border-top-right-radius: 9px;
-moz-top-right-radius:9px; 
-webkit-top-right-radius:9px;
-o-top-right-radius:9px;
}

.radius_menu_right:hover{ background: #000; color:#0c286b; display:block; line-height:40px; text-shadow:none; 
border-top-right-radius: 9px;
-moz-top-right-radius:9px; 
-webkit-top-right-radius:9px;
-o-top-right-radius:9px;
}


/* NameSlide.css */



.NameSlide{
/* width: 900px; */
 height:30px;
padding:0;
margin:0;
border-radius:9px;
-moz-border-radius:9px;
-webkit-border-radius:9px;
-o-border-radius:9px;
background:none;
}

/*.NameSlide ul li.myDTDC{background:url(../images/mydtdc_lock.gif) no-repeat; width:130px; float:right;  margin-top:-3px; height:38px;} REMOVED AFTER RIGHT ALIGNING THE LOGO*/
.NameSlide ul{
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.NameSlide ul li{ /*background:url(../images/navibor.jpg) left top no-repeat;*/
position: relative;
display: inline;
float: left;
padding-top:0px;
}

.NameSlide ul li:hover{/* background:#fff;*/
}

/*Top level menu link items style*/
.NameSlide ul li a{
font-family: Arial, Helvetica, sans-serif; font-size:13px; font-weight:normal; color:#3F3F38; text-decoration:none; padding:0 4px;/* line-height:40px; */display:block;font-weight: 700; 

}

* html .NameSlide ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.NameSlide ul li a:link, .NameSlide ul li a:visited{
color: #3F3F38;
}

.NameSlide ul li a:hover{
/*background: #fff; tab link background during hover state*/
color: #000;
}



	
/*1st sub level menu*/
.NameSlide ul li ul{box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
position: absolute;
left: 0;
display: block;
visibility: hidden;
background: #fff; 
padding:10px 0;
z-index:999;
border:0px solid #204382; 

}

/*Sub level menu list items (undo style from Top level List Items)*/
.NameSlide ul li ul li{
display: list-item; background:#fff;
float: none;

/* These three lines are for transparency in all browsers. 
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";filter: alpha(opacity=99);opacity:.5;*/ 
border-bottom:0px solid #9ec5d8;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.NameSlide ul li ul li ul{
top: 0;padding:0 0 10px 0; margin:10px 0;

}

/* Sub level menu links style */
.NameSlide ul li ul li a{
width: 170px; /*width of sub menus*/
font-size:12px;
font-family: Trebuchet MS, Arial, Sans-serif; background:none;
font-weight:normal;
padding: 6px 2px 8px 13px;
margin:0;
border-top-width: 0;
color:#c05541!important;line-height:11px !important;
}

.NameSlide ul li ul li a:hover{ /*sub menus hover style*/

color: #000 !important;
}

.portlet.box.red > .portlet-title > .caption {
	background: #552984 !important
}
.portlet.box.green > .portlet-title > .caption {
	background: #552984 !important
}
.arrow-steps{
	display: flex;
}
.arrow-steps .step {
	font-size: 12px;
	text-align: center;
	color: #666;
	cursor: default;
	margin: 0 3px;
	padding: 10px 10px 10px 30px;
	width: 100%;
	float: left;
	position: relative;
	background-color: #ccc;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: background-color 0.2s ease;
}
.arrow-steps .step:first-child{
	margin-left: 0px;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
	content: "";
	position: absolute;
	top: 0;
	right: -17px;
	width: 0;
	height: 0;
	border-top: 18px solid transparent;
	border-bottom: 18px solid transparent;
	border-left: 17px solid #ccc;
	z-index: 2;
	transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
	right: auto;
	left: 0;
	border-left: 17px solid #fff;
	z-index: 0;
}

.arrow-steps .step:first-child:before {
	border: none;
}

.arrow-steps .step:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.arrow-steps .step:last-child {
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.arrow-steps .step:last-child:after {
	border: 0
}

.arrow-steps .step span {
	position: relative;
}

.arrow-steps .step span:before {
	opacity: 0;
	content: "\2713";
	position: absolute;
	top: -2px;
	left: -20px;
}

.arrow-steps .current.done span:before {
	opacity: 1;
}

.arrow-steps .step.current {
	color: #fff;
	background-color: green;
}
.arrow-steps .step.absense {
	color: #fff;
	background-color: red;
}

.arrow-steps .step.absense:after {
	border-left: 17px solid red;
}
.arrow-steps .step.na {
	color: #fff;
	background-color: #ccc;
}
.arrow-steps .step.na:after {
	border-left: 17px solid #ccc;
}
.arrow-steps .step.current:after {
	border-left: 17px solid green;
}

.arrow-steps-main p {
	margin-bottom: 5px;
}

.created-by-date-main {
	display: flex;
}

.created-by-date-main .created-by-date {
	margin-top: 5px;
	width: 210px;
	margin-left: 20px;
}

.created-by-date-main .created-by-date .break {
	display: block;
	margin-top: 5px;
}
.created-by-date-main .created-by-date i {
	width: 20px;
	height: 20px;
	background: #b7091e;
	color: #fff;
	text-align: center;
	line-height: 20px;
	border-radius: 100%;
	font-size: 11px;
}

.created-by-date-main .created-by-date:first-child {
	margin-left: 0px;
}
.box1-bg {
	background: #E8413B !important;
	color: #fff !important;
}
.box2-bg {
	background: #48A34F !important;
	color: #fff !important;
}
.box3-bg {
	background: #0FB6C9 !important;
	color: #fff !important;
}
.box4-bg {
	background: #FF8E0A !important;
	color: #fff !important;
}
.box5-bg {
	background: #9B29B4 !important;
	color: #fff !important;
}
.d-flexCollection{
	display: flex;
}
.d-flexCollection .card{
	width: 100%;
	margin: 15px;
}
.cr-heading {
	margin-bottom: 3px;
	margin-top: 15px;
	padding: 3px 0px;
	font-style: italic;
	font-size: 20px;
	text-decoration: underline;
	color: #b7091e;
}
.collection-wrapper .card {
	/*padding: 11px 20px;*/
	padding: 10px 20px;
	margin-top: 10px;
	display: flex;
	color: #333;
	background: #f2f2f2;
	/*box-shadow: 0 2px 6px -1px rgba(0,0,0,.07),0 6px 18px -1px rgba(0,0,0,.04) !important;*/
}
.collection-wrapper .card .amount {
	font-size: 24px;
	font-weight: bold;
}
.collection-wrapper .card .icon {
	font-size: 34px;
	margin-top: -5px;
	display: block;
	text-align: right;
	width: 40%;
}
.collection-wrapper .card .icon i {
	font-size: 34px;
}
.collection-wrapper .card .amount .caption-lable {
	font-size: 14px;
	font-weight: 600;
	display: block;
}
.collection-div {
	background: green;
	display: inline-block;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	position: absolute;
	right: 16px;
	top: -20px;
	border-radius: 7px;
	z-index: 9;
}
.collection-wrapper .chart-wrap {
	/*background: #b7091e;*/
	padding: 10px;
	margin-top: 10px;
	position: relative;
	height: 412px;
	box-shadow: 0 2px 6px -1px rgba(0,0,0,.07),0 6px 18px -1px rgba(0,0,0,.04) !important;
}
#ContentPlaceHolder1_lblIndivudualtarget {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 24px;
	font-weight: bold;
}
.ribboncurrent {
	background: #333;
	color: #fff;
	padding: 10px 32px;
	text-align: center;
	display: inline-block;
	margin-top: 10px;
	float: right;
	box-shadow: 0 2px 6px -1px rgba(0,0,0,.07),0 6px 18px -1px rgba(0,0,0,.04) !important;
}
.ribboncurrent .month {
	font-size: 20px;
	font-weight: bold;
}
.ribboncurrent .year{
	font-weight: bold;
	display: block;
}
.bd-table-collection {
	background: #f2f2f2;
	padding: 10px;
	float: left;
	width: 100%;
}
.rowBg {
	background: rgb(129 129 129);
	color: #fff;
}
/*.bg-box1 {
	background: #15621b;
}
.bg-box2 {
	background: #51CE8A;
}
.bg-box3 {
	background: #F2426D;
}
.bg-box4 {
	background: #733AEB;
}
.bg-box5 {
	background: #973864;
}*/
/*added  by asif*/
/*.mpe-after {
	position: relative;
}

	.mpe-after:after {
		content: "";
		position: absolute;
		right: -8px;
		top: 22px;
		font-size: 30px;
		color: #a9a9a9;
	}

.minus-after:after {
	content: "\2212";
}

.equal-after:after {
	content: "\003D";
}

.plus-after:after {
	content: "\002B";
}*/

.deductionbg {
	background: #ffe8e8 !important;
}
.workingbg {
	background: #e2ffe2 !important;
}

/*added  by asif*/
/*.mpe-after {
	position: relative;
}

	.mpe-after:after {
		content: "";
		position: absolute;
		right: -8px;
		top: 22px;
		font-size: 30px;
		color: #a9a9a9;
	}*/

/*.minus-after:after {
	content: "\2212";
}

.equal-after:after {
	content: "\003D";
}

.plus-after:after {
	content: "\002B";
}*/

#ContentPlaceHolder1_txtTotalDeduction {
	background: #ffe8e8;
}

/*Added by Asif*/
/*.mpe-after {
	position: relative;
}

	.mpe-after:after {
		content: "";
		position: absolute;
		right: -8px;
		top: 22px;
		font-size: 30px;
		color: #a9a9a9;
	}*/

/*.minus-after:after {
	content: "\2212";
}

.equal-after:after {
	content: "\003D";
}

.plus-after:after {
	content: "\002B";
}*/

#ContentPlaceHolder1_txtTotalDeduction {
	background: #ffe8e8;
}

.panel-heading .accordion-toggle:after {
	/* symbol for "opening" panels */
	font-family: 'Glyphicons Halflings';
	content: "\f06e";
	float: right;
	color: #fff;
}

.panel-heading .accordion-toggle.collapsed:after {
	content: "\e080";
}

.panel-default > .panel-heading {
	padding: 0;
	background-color: #b7091e;
	border-color: none;
}

	.panel-default > .panel-heading > h4 {
		color: #fbfbfb;
		font-weight: 600;
	}

	.panel-default > .panel-heading > .panel-title > a {
		padding: 10px;
		display: block;
	}

		.panel-default > .panel-heading > .panel-title > a:hover, .panel-default > .panel-heading > .panel-title > a:active {
			color: #ffffff;
			text-decoration: none;
		}

.sidebar-left {
	background: #ffffff;
}

	.sidebar-left .fa {
		display: inline-block;
		margin-right: 5px;
	}

	.sidebar-left .list-group-item {
		background: #fff;
		color: #000;
		padding: 15px;
	}

		.sidebar-left .list-group-item.active {
			background: #b7091e;
			color: #fff;
			border-color: transparent;
		}

		.sidebar-left .list-group-item i {
			display: inline-block;
		}

#makeSticky.stick {
	position: sticky;
	top: 100px;
	z-index: 9;
	width: 100%;
}

#makeSticky {
	transition: top 1s;
	-webkit-transition: top 1s;
	top: 0px;
	max-width: 100%;
}

	#makeSticky .list-group {
		margin-bottom: 0;
	}

.aspNetDisabled {
	opacity: 0.5;
}

.aspNetDisabled:hover {
	cursor: not-allowed;
}

.theme-card {
	background: #fff;
	padding: 15px;
	border-radius: 7.5px;
	margin-bottom: 15px;
	border: 1px solid #ddd;
}

.theme-card .progress {
	margin-top: 10px;
}

.employee-name-bar {
	padding: 10px;
	background: #999999;
	font-size: 18px;
	display: block;
	border-radius: 0px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.portlet.box > .portlet-body {
	background-color: #fff;
	padding: 10px;
}
.section-title {
	font-size: 18px;
	border-bottom: 1px solid #b7091e;
	padding: 12px 0;
	font-weight: bold;
	color: #b7091e;
}

.progress {
	margin: 0;
	background: #e5e5e5;
}

.progress-bar {
	background: #b7091e;
}

.bg-theme-text {
	background: #b7091e;
	padding: 7px 10px;
	color: #fff;
	border-radius: 5px;
}

.bg-gray {
	background: #ccc !important;
	color: #444 !important;
}

	.bg-gray.collapsed {
		background: #eee !important;
		color: #666 !important;
	}

.more-less {
	float: right;
}

.cancel-btn {
	border: 1px solid #ccc;
	color: #555;
}

	.cancel-btn:hover {
		border: 1px solid red;
		background: red;
		color: #fff;
	}

#jQueryProgressFormBar > div {
	display: block;
	background: green;
	width: 0;
}

	#jQueryProgressFormBar > div.warn {
		background: yellow;
	}

	#jQueryProgressFormBar > div.error {
		background: red;
	}

.collapse.in {
	height: auto !important;
}

.mt-3 {
	margin-top: 30px !important;
}

.mr-3 {
	margin-right: 30px !important;
}

.mb-3 {
	margin-bottom: 30px !important;
}

.ml-3 {
	margin-left: 30px !important;
}

.radio-main {
	min-width: 300px;
	display: flex;
	align-items: center;
}

	.radio-main .radio:hover, .radio-main .radio + label:hover {
		cursor: pointer
	}

	.radio-main .radio span {
		border: 3px solid #e5e5e5;
		width: 25px !important;
		height: 25px !important;
		background: #ccc;
		border-radius: 50%;
		background-image: none !important;
	}

		.radio-main .radio span.checked {
			border: 3px solid #3598dc;
			background: #e5e5e5;
		}

	.radio-main .radio + label {
		font-size: 16px;
		margin-left: 18px;
		vertical-align: sub;
		margin-right: 27px;
	}

.panel-heading a:after {
	font-family: "Glyphicons Halflings";
	content: "\e105";
	float: right;
}

.panel-heading a.collapsed:after {
	content: "\e106";
}

.d-flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.d-flex {
	display: flex;
}

.next-btn, .prev-btn {
	background: #ccc;
	padding: 7px 14px;
	color: #000;
	min-width: 110px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.next-btn {
	text-align: right
}

	.next-btn:hover, .prev-btn:hover {
		background: red !important;
		color: #fff !important;
	}

.inactive-btn {
	border-radius: 4px !important;
}

	.inactive-btn:hover, .inactive-btn:hover a {
		background: red !important;
		color: #fff !important;
	}

.m-0 {
	margin: 0 !important;
}

.float-none {
	float: none !important;
}

.d-block {
	display: block !important;
}

.edit-btn {
	text-decoration: none;
	color: #fbfbfb;

}
.edit-btn1 {
	text-decoration: none;
	color: #444444;
	border-radius: 4px;
}
.edit-btn1:hover {
	color: #b7091e;
}
.edit-btn1 i {
	font-size: 25px !important;
	margin-top: 3px;
}

.edit-btn:hover {
	color: #fff;
}

.edit-btn .fa-edit {
	font-size: 20px !important;
}

.profile-img-sec {
	margin: 30px auto;
	text-align: center;
	min-height: 272px;
}

.profile-img {
	margin: 15px auto;
	height: 150px;
	width: 150px;
	overflow: hidden;
	border-radius: 50%;
	border: 2px solid #e5e5e5;
}

.profile-img-sec img {
	width: 150px;
	max-width: 100%;
}

.name-designation h3 {
	margin: 0;
	padding: 0;
	line-height: 1;
}

.summary-body .sum-box {
	width: 100%;
	box-shadow: 1px 1px 1px 1px #e5e5e5;
	padding: 15px;
	text-align: center;
	min-height: 90px;
	overflow: hidden;
	box-sizing: border-box;
}

.sum-box h4 {
	font-size: 16px;
}

	.sum-box h4 .fa {
		font-size: 20px;
		display: block;
		margin-bottom: 10px;
		color: #555;
	}

.summary-body .sum-box {
	width: 100%;
	box-shadow: 1px 1px 1px 1px #e5e5e5;
	padding: 15px;
	text-align: center;
	min-height: 90px;
	overflow: hidden;
	box-sizing: border-box;
}

.sum-box h4 {
	font-size: 16px;
}

	.sum-box h4 .fa {
		font-size: 20px;
		display: block;
		margin-bottom: 10px;
		color: #555;
	}

.caption.bg-gray .fa-edit {
	color: #000;
}

#tblEmpDoc tr td {
	padding: 10px 5px;
}

.leave-special span {
	font-size: 16px;
	margin-right: 5px;
}

#ContentPlaceHolder1_LeavesDetailsView .lblDataCaption {
	min-width: 110px;
}

#ContentPlaceHolder1_LeavesDetailsView .reports-sales ul {
	padding: 0 15px;
}

	#ContentPlaceHolder1_LeavesDetailsView .reports-sales ul li {
		margin: 10px;
	}

/*.switch end*/

.switch {
	position: relative;
	border-radius: 20px;
	background: #fff;
	width: 105px !important;
	height: 32px !important;
	border: 3px solid #a9a9a9;
	box-sizing: border-box;
	overflow: hidden;
	margin: 0;
}

	.switch .checker {
		width: 105px !important;
		display: block !important;
		height: 30px !important;
	}

		.switch .checker span {
			width: 110px !important;
			display: block !important;
			height: 40px !important;
		}

		.switch input, .switch.checker input {
			opacity: 0 !important;
		}

		.switch .checker span:before, .switch .checker span.checked:before {
			content: "";
			width: 70px !important;
			height: 20px !important;
			transition: all 300ms ease;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 20px;
		}

		.switch .checker span:before {
			content: "Inactive";
			background: #fff;
			margin: 5px 4px;
			float: left;
			color: #000;
		}

		.switch .checker span.checked:before {
			content: "Active";
			background: #b7091e;
			float: right;
			margin: 5px 14px;
			color: #fff;
		}

		.switch .checker span {
			background: #e5e5e5 !important;
			margin-left: -3px;
		}

			.switch .checker span.checked {
				background: #fff !important;
				margin-left: -3px;
			}
/*.switch end*/
.w-100 {
	width: 100% !important;
}