
.ajax__tab_default .ajax__tab_header {
    white-space: normal !important;
}
.ajax__tab_default .ajax__tab_outer {
    display: inline-block;
}
.ajax__tab_default .ajax__tab_inner {
    display: inline-block;
}
.ajax__tab_default .ajax__tab_tab {
    display: inline-block;
    overflow: hidden;
    text-align: center;
}
.ajax__tab_xp .ajax__tab_header {
   /* background: url("tab-line.gif") repeat-x scroll center bottom transparent;
    font-family: verdana,tahoma,helvetica;
    font-size: 11px;*/
    /*	background: #e4e4e4; padding:7px 20px; margin:0px 5px 0 0; 
    	
    	border-right: 1px solid #DCDCDC; border-bottom: none; 
    	text-decoration: none; color: #1d889c; font-weight: bold; border: 1px solid #DCDCDC;
    	border-bottom: none; font-family:'Open Sans', sans-serif; font-size:18px; 
    	font-weight:normal;*/
 background: none repeat scroll 0 0 #CCCCCC !important;
    border: 1px solid #AAAAAA; border-bottom:none;
    color: #222222;
    font-weight: bold;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	 padding: 0.5em 0.2em  0 !important;
	 font-size:100% !important; height:34px;
}
.ajax__tab_xp .ajax__tab_outer {
    background:none repeat scroll 0 0 #E4E4E4 !important;
     border-top-right-radius: 4px;
     border-top-left-radius: 4px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-width: 0 !important;
    border-color: #999999;
    border-image: none;
    /*border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-top: 1px solid #999999;
    border-style: solid;*/
    height: 24px!important;
    padding-right: 0!important;
    color: #555555 !important;
    font-weight: normal !important;
    margin: 0 0.2em 0 0;
}
.ajax__tab_xp .ajax__tab_inner {
    background: #E4E4E4 !important;
     border-top-right-radius: 4px;
     border-top-left-radius: 4px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-width: 0 !important;
    border-color: #999999 !important;
    border-image: none;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-style: solid;
    border-top: 1px solid #999999 !important;
    color: #555555 !important;
    font-weight: normal !important;
    padding-left: 0!important;
   
}
.ajax__tab_xp .ajax__tab_tab {
    background:none !important;
    
    height: 13px;
    margin: 0;
   
    padding: 10px !important;
}
.ajax__tab_xp .ajax__tab_hover .ajax__tab_outer {
    background: #ccc !important;
    cursor: pointer;
}
.ajax__tab_xp .ajax__tab_hover .ajax__tab_inner {
    background: #E6E6E6!important;
    cursor: pointer;
}
.ajax__tab_xp .ajax__tab_hover .ajax__tab_tab {
    background: none !important;
    cursor: pointer;
}/*
.ajax__tab_outer 
{
	background: #e4e4e4; padding:7px 20px; margin:0px 5px 0 0; float:left; border-right: 1px solid #DCDCDC; border-bottom: none; text-decoration: none; color: #1d889c; font-weight: bold; border: 1px solid #DCDCDC;border-bottom: none; font-family:'Open Sans', sans-serif; font-size:18px; font-weight:normal;
}
.ajax__tab_active .ajax__tab_outer 
{
	 background: none repeat scroll 0 0 #2AA5BC;
    border: 1px solid #2AA5BC;
    color: #FFFFFF;
    font-weight: normal;
}*/

.ajax__tab_xp .ajax__tab_active .ajax__tab_outer {
    background: #2AA5BC !important;
}
.ajax__tab_xp .ajax__tab_active .ajax__tab_inner {
    background: #2AA5BC !important;
}
.ajax__tab_xp .ajax__tab_active .ajax__tab_tab {
    /*background: url("tab-active.gif") repeat-x scroll 0 0 transparent;*/
    background: #2AA5BC !important;
    color:#ffffff !important; 
    border-top-right-radius: 4px;
     border-top-left-radius: 4px; padding:10px;
}
.ajax__tab_xp .ajax__tab_disabled {
    color: #A0A0A0;
}
.ajax__tab_xp .ajax__tab_body {
    /*background-color: #FFFFFF;
    border-color: -moz-use-text-color #999999 #999999;
    border-style: none solid solid;
    border-width: 0 1px 1px;*/
    font-family: verdana,tahoma,helvetica;
    font-size: 10pt;
    padding:0 !important;
      border-image: none;
    border:  0 none !important;
}
.ajax__scroll_horiz {
    overflow-x: scroll;
}
.ajax__scroll_vert {
    overflow-y: scroll;
}
.ajax__scroll_both {
    overflow: scroll;
}
.ajax__scroll_auto {
    overflow: auto;
}
.ajax__tab_plain .ajax__tab_outer {
    border: 2px solid #999999;
    text-align: center;
    vertical-align: middle;
}
.ajax__tab_plain .ajax__tab_inner {
    text-align: center;
    vertical-align: middle;
}
.ajax__tab_plain .ajax__tab_body {
    text-align: center;
    vertical-align: middle;
}
.ajax__tab_plain .ajax__tab_header {
    text-align: center;
    vertical-align: middle;
}
.ajax__tab_plain .ajax__tab_active .ajax__tab_outer {
    background: none repeat scroll 0 0 #FFFFE1;
}

.ajax__tab_panel{
	border: 1px solid #aaaaaa;
	background: #E4E4E4 ;
	    padding: 1em .4em;
	color: #222222;}