/* ######### Drop Down ULs CSS ######### */


.ddsubmenustyle22, .ddsubmenustyle22 ul{ /*topmost and sub ULs, respectively*/
font: normal 12px  Arial, Helvetica, sans-serif;
margin:2px 0 0 0;
padding:0px 0;
position: absolute;
left: 0;
top: 0;
list-style-type: none;

box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);

visibility: hidden;
z-index: 100;

 border-radius: 8px 8px 8px 8px; background-color: #fff;
}

.ddsubmenustyle22 li a{
display: block;
width: 160px; /*width of menu (not including side paddings)*/
color: #999999;

text-decoration: none;
padding: 4px 0 4px 15px;
 border-radius: 8px 8px 8px 8px; background-color: #fff; line-height:19px; float:left;

}

* html .ddsubmenustyle22 li{ /*IE6 CSS hack*/
display: inline-block;
width: 190px; /*width of menu (include side paddings of LI A*/
}

.ddsubmenustyle22 li a:hover{
background-color: #f4f4f4;
color:#000;
}

/* ######### Neutral CSS  ######### */

.downarrowpointer{ /*CSS for "down" arrow image added to top menu items*/
padding-left: 4px;
border: 0;
}

.rightarrowpointer{ /*CSS for "right" arrow image added to drop down menu items*/
position: absolute;
padding-top: 10px;
left: 100px;
border: 0;
}

.ddiframeshim{
position: absolute;
z-index: 500;
background: transparent;
border-width: 0;
width: 0;
height: 0;
display: block;
}